body{
  background-color: #D5D8DC;
  margin:0;
}
  

#logo{
  max-width: 3%;  
  float:left;
  height: auto;  
  margin:0;
}

h3{
  color : white;
  font-family: monospace;
  float:left;
  margin-right : 10px
}

.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}


.navbar a {
  float: left;
  font-family :Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #05A8AA;
  color : black;  
}

.active {
  background-color: #6D6A75;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#headbar{
  margin : 0;
  background-color: #5D6E7E;
  height : 30%;   
}

#headbar h4{
  margin : 0;
  font-size: 75px;
  font-family : monospace;
  margin-left : 40%;
}

#mainstuff{
  margin-top : 0;
  position : absolute;
  background-color: #D5D8DC;
  width : 100%;
}

#mainstuff h1{
  font-family : Arial, Helvetica, sans-serif;
  color : #34495E;
  font-size: 100px;
  margin : 0;
  margin-left : 5%;
  margin-top : 10px;
}

#mainstuff p{
  font-family : Arial, Helvetica, sans-serif;
  color : black;
  font-size: 30px;
  margin-left : 5%;
  margin-bottom : 100px;
}

#mainstuff img{
  margin-left : 5%;
  height : auto;
  width : 45%;
}

.dropdown {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px ;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #05A8AA;
  color : white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(60,60,60);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
