body{
  background-color: #313131;
  margin:0;
}
  

#logo{
  max-width: 3%;  
  float:left;
  height: auto;  
  margin:0;
}

h3{
  color : white;
  font-family: monospace;
  float:left;
  margin-right : 10px
}

.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}


.navbar a {
  float: left;
  font-family :Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #05A8AA;
  color : black;  
}

.active {
  background-color: #6D6A75;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#leftpage{
  width : 400px;
  height : 1000px;
  position : absolute;
  background-color : #1B1B1B;
}

#leftpage h2{
  color : white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top : 10px;
  display: flex;
  margin : 0;
  justify-content: center;
}

#leftpage img {
  height : 216px;
  width : 384px;
}

#mainstuff{
  margin-top : 0;
  position : absolute;
  margin-left : 400px;
  width : 1462px;
  height : 1000px;
  background-color: #37323E;
}
#mainstuff h1{
  font-family : Arial, Helvetica, sans-serif;
  color : white;
  font-size: 100px;
  margin-left : 20px;
  margin-top : 10px;
}

#mainstuff p{
  font-family : Arial, Helvetica, sans-serif;
  color : white;
  font-size: 30px;
  margin-left : 20px;
  margin-top : 00px;
}